<policies>
  <extensions>
    <extension name="CustomSecurityAssertion" type="CustomPolicyAssertions.CustomSecurityAssertion, Service" />
    <extension name="CustomTraceAssertion" type="CustomPolicyAssertions.CustomTraceAssertion, Service" />
  </extensions>
  <policy name="ServicePolicy">
    <CustomTraceAssertion input="input-before.xml" output="output-before.xml"/>
    <CustomSecurityAssertion >
      <clientToken>
        <x509
          storeLocation="CurrentUser"
          storeName="My"
          findValue="CN=WSE2QuickStartClient"
          findType="FindBySubjectDistinguishedName" />
      </clientToken>
      <serviceToken>
        <x509
          storeLocation="LocalMachine"
          storeName="My"
          findValue="CN=WSE2QuickStartServer"
          findType="FindBySubjectDistinguishedName" />
      </serviceToken>
    </CustomSecurityAssertion >
    <CustomTraceAssertion input="input-after.xml" output="output-after.xml"/>
  </policy>
</policies>